<% content_for(:header) do %>
  <%= game.name %>
<% end %>


<div class="mt-6 flex items-center justify-end gap-x-6">
  <a href="<%= edit_admin_game_path(game) %>" type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" data-turbo-action="replace">Edit</a>
</div>

<h2>Game Sessions</h2>
<div class="border-b pt-10 border-gray-900/10 pb-12">
  <a href="#" type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" data-turbo-action="replace">New session</a>
</div>

<div class="mt-6 flex items-center justify-start gap-x-6">
  <%- game.sessions.each do |session| %>
    <div><%= session.code %></div>
    <div><%= session.game_phase %></div>
    <%= link_to('Run', admin_game_games_session_run_path(game, session),  data: { turbo_method: :patch }, class: "rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600") %>
    <%= link_to('Prev', admin_game_games_session_prev_path(game, session),  data: { turbo_method: :patch }, class: "rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600") %>
    <%= link_to('Next', admin_game_games_session_next_path(game, session),  data: { turbo_method: :patch }, class: "rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600") %>
  <% end %>
</div>
